.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10%;
  margin: 0 10%;
  height: 100%;
  width: 100%;
}

.cardimg {
  border: 1px solid blueviolet;
  border-radius: 15px 15px 0 0;
  padding: 0 0;
  transition: 0.5s;
  height: 50%;
}

.cardimg1 {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: 0.5s;
}

.cardimg:hover {
  box-shadow: 0px 0px 10px 0.5px blueviolet;
}

.cardDetails {
  background-color: blueviolet;
  height: 150px;
}

.cardDetails h5 {
  margin: 10px 0 0 10px;
  font-size: 15px;
  color: white;
}

.cardDetails p {
  display: grid;
  margin-left: 10px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}

.selectOne {
  padding-top: 100px;
  color: white;
  text-align: center;
  font-size: 1rem;
}

.button {
  position: absolute;
  height: auto;
  margin: -45px 0px 0px 430px;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(247, 145, 206);
  border: 1px solid blueviolet;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px black;
  transition: 0.5s;
}

.button:hover {
  background-color: blueviolet;
}