.container{
  position: relative;
  width: 100%;
  margin-left: 5%;
}
.searchTitle{
  color: blueviolet;
  margin: 0;
  
}

.searchBar{
  width: 100%;
}
.searchBar input {
  cursor: pointer;
  margin-top: 10px;
  padding: 0 10px;
  height: 40px;
  width: 400px;
  border: 1px solid blueviolet;
  border-radius: 5px 5px 0 0;
}

/*Home page Start --disply the flats in home page--*/
.containerImg {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 10% 0 0;
}


.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

/*Home page End --disply the flats in home page--*/

@media(max-width:768px) {
  .cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
  }


}