/*Home page Start --disply the flats in home page--*/
.containerImg {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 10% 0 0;
  background-repeat: repeat;
  background-position: center;
  background-size: fill;
}
.container{
  position: relative;
}

/*Just for serach end*/
.searchForm {
  display: grid;
  width: 100%;
  justify-content: center;
}

.serachForm {
  width: 30rem;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 5px;
}

.serachinput {
  height: 30px;
  width: 100%;
  padding: 0 1.6rem;
  z-index: 1;
}

.serachinput:not(:placeholder-shown) {
  height: 30px;
  width: 100%;
}

.serachlabel {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/*Just for serach end*/


.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

/*Home page End --disply the flats in home page--*/

@media(max-width:768px) {
  .cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
  }


}