.navbar{
    display: flex;
    background-color: blueviolet;
    height: 9vh;
    width: 100%;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    
}

.logo{
    flex: 1;
    height: 7vh;
    width: 100%;
    margin-left: 100px;
}
.Home{
    flex: 1;
    height: 7vh;
    width: 100%;
    margin-right:500px;

}
.profile{
    flex: 1;
    height: 7vh;
    width: 100%;
    margin-right: 200px;

}
.myAccount{
    flex: 1;
    height: 7vh;
    width: 7vh;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 20px;

}

.upload{
    flex: 1;
    height: 7vh;
    width: 100%;
    margin-right: 50px;
}

.orders{
    flex: 1;
    height: 7vh;
    width: 100%;
    margin-right: 50px;
}

