@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.labelFirst span{
  color: #f08080a3;
}
.labelFirst {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card {
  border: 3px solid #f08080a3;
  border-radius: 15px 15px 0 0;
  margin: 20px 0;
  padding: 20px;
  width: 40%;
  box-shadow: 0px 5px 30px 2px rgb(0 0 0 / 20%);
}

.formGroup {
  height: 100%;
  margin: 5px 0;
  padding: 0 2px;
  transition: 0.5s;
  text-align: center;
}

.formGroup label {
  font-size: large;
  text-align: center;
}

.container a {
  color: #333;
}

.container a:hover {
  color: #DD3173;
  text-decoration: none;
}

.label1 {
  height: 70px;
  text-align: center;

}

.formControl {
  height: 100%;
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0;
  border: 2px solid #f08080a3;
}

.formControl:focus {
  border: none;
}

.btn {
  font-size: 14px;
  color: black;
  height: 40px;
  width: 100%;
  padding: 5px 0 5px 0;
  margin: 15px 5px;
  background-color: #f08080a3;
  border: 1px solid white;
  border-radius: 5px;
  transition: .5s;
}

.btn:hover {
  color: #f08080da;
  background-color: white;
  transition: .5s;

}

/* quesims work on css*/