.container{
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 100%;
  justify-content: center;
}

.card{
  height: 100%;
  width:80%;
  flex-wrap: wrap;
  margin: 10px 10% 0 10%;
  background-color: blueviolet;
  border-radius: 15px 15px 0 0;
}

.cardBody {
  height: 100%;
  margin: 0 10%;
  border-radius: 15px;
}

.formGroup {
  background-color: blueviolet;
  transition: 0.5s;
}

.formGroup label {
  font-size: large;
}

.container a {
  color: #333;
}

.container a:hover {
  color: #DD3173;
  text-decoration: none;
}

.formControl {
  font-size: 1rem;
  width: 90%;
  padding: 20px;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
  border: 3px solid #BDBDBD;
  border-radius: 5px;
}

.formControl:focus {
  border: 3px solid #DD3173;
  outline: 0;
  box-shadow: none;
}

.btn {
  color: #DD3173;
  font-size: large;
  width: 30%;
  padding: 0.6rem 1.2rem;
  border: 2px solid #DD3173;
  border-radius: 15px;
  margin-bottom: 5%;
}

.btn:hover {
  color: white;
  font-size: large;
  background-color: #DD3173;
  border-color: #DF8C96;
  transition: .3s;
}


/* quesims work on css*/
