.wording{
  text-align: center;
}

.slidShow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rowImg{
  -ms-flex-align: center;
  margin: 0 10%;
}
.columnImg1{
  width: 30%;
  background-color: aqua;
}
.columnImg2{
  width: 600px;
  background-color: aqua;
}
.cardimg1{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.cardimg2{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.cardimg3{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.cardimg4{
  height: 100%;
  width: 100%;
  object-fit: contain;
}