.container {
    padding-top: 10px;
    margin-left: 50px;
   
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .image1 {
    width: 500px;
    height: 500px;
    
    
  }
  .image1 div{
    border: 2px solid #c9c9c9;
    margin-left: 10%;
    height: 100%;
    width: auto;
    border-radius: 20px;
  }
  
  .sub1 {
    height: 155px;
    width: 150px;
    
  }
  .sub1 div{
    border: 2px solid #c9c9c9;
    height: 100%;
    width: auto;
    margin: 0 10px;
    border-radius: 20px;
  }
  

  .sub2 {
    height: 170px;
    width: 150px;
   padding-top: 15px;
  }
  .sub2 div{
    border: 2px solid #c9c9c9;
    height: 100%;
    width: auto;
    margin: 0 10px;
    border-radius: 20px;
  }
  
  .sub3 {
    height: 170px;
    width: 150px;
    padding-top: 15px;
  }
  .sub3 div{
    border: 2px solid #c9c9c9;
    height: 100%;
    width: auto;
    margin: 0 10px;
    border-radius: 20px;
  }
  
  .blackcolumn{
    border: 2px solid #c9c9c9;
    
    height: 100%;
    
    border-radius: 20px;
  }
  

  .info {
    width: 500px;
    height: 500px;
    
    
  }
  .info div{
    border: 5px solid transparent;
    margin-left: 10%;
    height: 100%;
    width: auto;
    
  }
  
  .wording{
    text-align: center;
    font-style: italic;
  }
  .button{
    background-color: blueviolet;
    border: 0;
    height: 40px;
    width: 80px;
    color: white;
  }