.container{
  width: 100%;
}

.slidShow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 400px;
  width: 100%;
  margin-top: 20px;
}
.rowImg{
  display: flex;
  flex-direction: row;
  margin: 0 10%;
  height: 100%;
  width: 100%;
}
.columnImg1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 20%;
}
.cardimg1{
  width: 100%;
  height: 33%;
  object-fit: cover;
  border: 1px solid #f08080a3;
  border-radius: 15px 0 0 0;
  transition: 0.5s;
}

.cardimg2{
  width: 100%;
  height: 33%;
  object-fit: cover;
  border: 1px solid #f08080a3;
  transition: 0.5s;
}

.cardimg3{
  width: 100%;
  height: 33%;
  object-fit: cover;
  border: 1px solid #f08080a3;
  transition: 0.5s;
}

.columnImg2{
  margin: 0 0 0 5px;
  width: 80%;
  height: 100%;
}
.cardimg4{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 1px solid #f08080a3;
  border-radius: 0 15px 0 0;
  transition: 0.5s;
}

.detailsRow{
  display: flex;
  flex-direction: row;
  margin: 0 10%;
  height: 50%;
  width: 100%;
  background-color: #f08080a3;
  border-radius: 0 0 15px 15px;
}

.detailsCul1{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.detailsCul1 h1{
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-bottom:10px ;
  border-bottom: 1px solid white;
}

.detailsCul1 h4{
  font-size: 18px;
  padding-top: 20px;
  padding-left: 20px;
}


.detailsCul2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width: 50%;
}
.form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.detailsCul2 h4{
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 0;
  font-size: 30px;
  padding-left: 20px;
}

.detailsCul2 .btn{
  font-size: 18px;
  color: black;
  height: 40px;
  width: 50%;
  padding: 5px 0 5px 0;
  margin: 20px 40px;
  background-color: #f08080a3;
  border: 1px solid white;
  border-radius: 5px;
  transition: .5s;
}
.btn:hover{
  color: #f08080da;
  background-color: white;
  border: 1px solid #f08080a3;
  transition: .5s;
}

